:root {
    --color: #fff;
    --background-color: #1b4e61;
    --body-background-color: #030303;
    --footer-background-color: #353535;
    --btn-color: #ffffff;
    --input-color: #ff9800;
    --ad-title-color: #607d8b;
    --modal-color: #FF9800;
    --btn-background-color: #3d768a;
    --box-shadow-color: #030303;
    --price-color: #ff9800;
}